body {
    background-color: rgb(253, 234, 238);
    scrollbar-color:  rgb(253, 98, 124) pink;
   
}

.bg-pink {
    background-color: pink;

}

.nav-margin-bottom {
    margin-bottom: 10px;

}

#navbarNavDarkDropdown {
    background-color: rgb(249, 157, 173);
}

.dropdown-item {
    background-color: pink;
    color: rgb(253, 98, 124);
}

.dropdown-menu-dark {
    background-color: rgb(249, 157, 173);

}

.accordion-button {

    background-color: rgb(249, 157, 173);
}

.accordion-button:not(.collapsed) {
    background-color: rgb(247, 119, 140);
}

.card {
    align-items: center;
    background-color: pink;
    max-width: 260px;
    max-height: 300px;
    overflow: scroll;
}

.card-image {
    max-width: 150px;
    max-height: 200px;
}

.pagination{
    justify-content: center;
}
.page-link{
    color:  rgb(247, 119, 140);
    background-color: pink;
    margin-top: 20px;
}


@media (max-width: 1200px){
    .right {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(9, 1fr); 
        grid-template-rows: none;
    }
    .card-image {
        min-height: 100px;
        min-width: 75px ;
        max-width: 150px;
        max-height: 200px;
    }
    
}